        .paral {
            color: green;
            background-color: yellow;
        }

        #dolor {
            color: red;
            background-color:yellowgreen;
            background-color:yellowgreen;
        }
        .cl{
            background-color: grey;
        }

        
    